<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.dbinc.mapper.WorkerMapper">
	<select id="selectWorkerList" resultType="WorkerVO">
		SELECT id,
		       username,
		       nickname,
		       phone_number,
		       email
		FROM worker;
	</select>
	
	<select id="selectWorkerByNickname" resultType="WorkerVO">
		SELECT id,
		       username,
		       nickname,
		       phone_number,
		       email
		FROM worker
		WHERE nickname = #{nickname};
	</select>
	
	<select id="selectWorkerByUsername" resultType="WorkerVO">
		SELECT id,
		       username,
		       password,
		       nickname,
		       phone_number,
		       email
		FROM worker
		WHERE username = #{username};
	</select>
	
	<insert id="insertWorker" parameterType="WorkerVO">
		INSERT INTO worker(username, password, nickname, phone_number, email)
		values (#{username}, #{password}, #{nickname}, #{phoneNumber}, #{email});
	</insert>

	<update id="updateWorker" parameterType="WorkerVO">
		UPDATE worker
		SET nickname = #{nickname},
		    phone_number = #{phoneNumber},
		    email = #{email},
		WHERE username = #{username};
	</update>
	
	<delete id="deleteWorkerByUsername">
		DELETE
		FROM worker
		WHERE username = #{username}
	</delete>

</mapper>